<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Búsqueda</title>
</head>
<body>

    <h1>Resultados de Búsqueda</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Precio (Sitio 1)</th>
                <th>Enlace (Sitio 1)</th>
                <th>Precio (Sitio 2)</th>
                <th>Enlace (Sitio 2)</th>
            </tr>
        </thead>
        <tbody>
            {{#if componentPrice1}}
                <tr>
                    <td>{{componentPrice1}}</td>
                    <td><a href="{{componentLink1}}" target="_blank">Ver Detalles (Sitio 1)</a></td>
                    <td>{{componentPrice2}}</td>
                    <td><a href="{{componentLink2}}" target="_blank">Ver Detalles (Sitio 2)</a></td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="4">No se encontraron resultados.</td>
                </tr>
            {{/if}}
        </tbody>
    </table>

</body>
</html>
